#함수의 기본 = 작은 프로그램
변수이름은 명령어와 다르게

In [2]:
def print_3_times():
    print('안녕하세요')
    print('안녕하세요')
    print('안녕하세요')

In [5]:
print_3_times()

안녕하세요
안녕하세요
안녕하세요

In [6]:
def print_3_times(name): #(매개변수)
    print(name+'님 안녕하세요') #님 안녕하세요가 스트링이라서 매개변수도 스트링이어야 함
    print(name+'님 안녕하세요')
    print(name+'님 안녕하세요')

In [7]:
print_3_times('베이베') #스트링넣음

베이베님 안녕하세요
베이베님 안녕하세요
베이베님 안녕하세요

In [11]:
def print_3_times(name):
    for i in range(3):
        print(name+'님 안녕하세요')

In [12]:
print_3_times('엥')

엥님 안녕하세요
엥님 안녕하세요
엥님 안녕하세요

In [13]:
#횟수추가

In [14]:
def print_3_times(name,n_times):
    for i in range(n_times):
        print(name+'님 안녕하세요')

In [15]:
print_3_times('스트링',5)

스트링님 안녕하세요
스트링님 안녕하세요
스트링님 안녕하세요
스트링님 안녕하세요
스트링님 안녕하세요

In [16]:
name_list=['김','이','박','서']

In [21]:
def print_n_times(name_list):
    for i in range(len(name_list)): #리스트는 렝
        print(name_list[i]+'님 안녕하세요')

In [22]:
print_n_times(name_list)

김님 안녕하세요
이님 안녕하세요
박님 안녕하세요
서님 안녕하세요

In [23]:
'김'<'박' #순서별 트루 펄스

True

In [24]:
'a'>'c' #큰 순서대로 솔팅 해볼 수 있다

False

In [26]:
max(name_list)

'이'

총 {}분의 학생이 출석했습니다
1번 김님 #for 문
2번 이님
3번 박님
4번 서님
모두 열심히 수업하세요

In [34]:
name=['김','이','박','서']

In [28]:
def print_n_times(welcome):
    for i in range(len(welcome)):
        print('총'welcome[i]'분의 학생이 출석했습니다' welcome[i+1]'번 {welcome}님\n모두 열심히 수업하세요')

In [29]:
print_n_times(welcome)

총0분의 학생이 출석했습니다
 1번 ['김', '이', '박', '서']님
모두 열심히 수업하세요
총1분의 학생이 출석했습니다
 2번 ['김', '이', '박', '서']님
모두 열심히 수업하세요
총2분의 학생이 출석했습니다
 3번 ['김', '이', '박', '서']님
모두 열심히 수업하세요
총3분의 학생이 출석했습니다
 4번 ['김', '이', '박', '서']님
모두 열심히 수업하세요

In [37]:
def print_n_times(name):
    print('총'+str(len(name))+'명의 학생이 출석했습니다')
    for i in range(len(name)):
        print(str(i+1)+'번'+name[i])
    print('모두 열심히 수업하세요')

In [38]:
print_n_times(name)

총4명의 학생이 출석했습니다
1번김
2번이
3번박
4번서
모두 열심히 수업하세요

In [39]:
import random

In [40]:
random.choice([2,3,4])

2

In [41]:
random.choice(range(2,7))

5

총 4분의 학생이 존재합니다
김 님
박 님
이 선택외었습니다 축하합니다

In [42]:
name=['김','이','박','서']

In [43]:
import random
random.choice(name)

'김'

In [57]:
import random
a1=random.choice(name)
a2=random.choice(name)
def congratuation(name):
    print('총'+str(len(name))+'분의 학생이 존재합니다')
    for i in range(len(name)-3):
        print(a1+'님')
        print(a2+'님')
    print('이 선택되었습니다 축하합니다')

In [58]:
congratuation(name)

총4분의 학생이 존재합니다
박님
서님
이 선택되었습니다 축하합니다

In [59]:
import random
a1=random.choice(name)
a2=random.choice(name)
def congratuation(name):
    print('총'+str(len(name))+'분의 학생이 존재합니다')
    print(a1+'님')
    print(a2+'님')
    print('이 선택되었습니다 축하합니다')

In [60]:
congratuation(name)

총4분의 학생이 존재합니다
김님
서님
이 선택되었습니다 축하합니다

In [61]:
#수업답

In [62]:
def welcome(x):
    print(f'총{len(x)}명의 학생이 존재합니다')
    while True: #와일은 다 고르고 어떨 때 정지키겠다는 뜻
        choice1=random.choice(x)
        print(f'{choice1}님')
        x.remove(choice1) #뽑히면 없앰
        if len(x) == 2:
            break
    print('이 선택되었습니다 축하합니다')

In [63]:
welcome(name)

총4명의 학생이 존재합니다
김님
박님
이 선택되었습니다 축하합니다

In [65]:
name

['이', '서']

In [67]:
new_name=[] #제외시키기
for i in name:
    if i != '이':
        new_name.append(i)
new_name

['서']

In [71]:
name=['김','이','박','서']

def welcome(x):
    print('총 {}명의 학생이 존재합니다'.format(len(x)))
    while True:
        choice1=random.choice(x)
        print('{}님'.format(choice1))
        choice2=random.choice(x)
        if choice1 != choice2:
            print('{}님'.format(choice2))
            print('이 선택되었습니다 축하합니다')
            break
        else:#같은거 뽑혔을 때
            tmp_x=[i for i in x if i != choice1]
            choice2=random.choice(tmp_x)
            print('{}님'.format(choice2))
            print('이 선택되었습니다 축하합니다')
            break

In [72]:
welcome(name)

총 4명의 학생이 존재합니다
김님
서님
이 선택되었습니다 축하합니다

In [73]:
#뽑는 갯수를 정해서 뽑기

In [169]:
name=name+['유','곽','백','권','주','변','류']

In [134]:
name

['김', '이', '박', '서', '유', '곽', '백', '권', '주', '변', '류']

In [77]:
def 비복원(x,n):
    choice = random.choice(x)
    return choice*n

In [78]:
비복원(name,2)

'주주'

In [79]:
#리스트로 만들기

In [80]:
def 비복원(x,n):
    choice = random.choice(x)
    return [choice*n]

In [81]:
비복원(name,2)

['변변']

In [87]:
def 복원(x,n):
    result = []
    for i in range(n):
        result.append(random.choice(x))
    return result

In [88]:
복원(name,5)

['주', '변', '곽', '박', '서']

a=list(range(5))

def xx(x): #오류나서 질문할 것
    y=x.copy()
    y.remove(random.choice())
    return y

a=list(range(5))
print(xx(x))
a

In [135]:
def welcome(name):
    print(f'총 {len(name)}명의 학생이 존재합니다')
    x=name.copy()
    choice = random.choice(x)
    print(f'{choice}님')
    x.remove(choice)
    choice=random.choice(x)
    print(f'{choice}님')
    print('이 선택되었습니다 축하합니다')

In [136]:
welcome(name)

총 11명의 학생이 존재합니다
백님
유님
이 선택되었습니다 축하합니다

In [137]:
#x명을 리스트로 출력

In [139]:
def welcome_n(name,n):
    x=name.copy()
    result=[]
    while True: #빈리스트 채워줌
        choice=random.choice(x)
        result.append(choice)
        if len(result)==n:
            break
        x.remove(choice)
    return result

In [141]:
welcome_n(name,11)

['주', '권', '변', '유', '류', '서', '백', '곽', '김', '박', '이']

In [142]:
def welcome_n(name,n):
    x=name.copy()
    result=[]
    cnt=1
    while cnt<=n: #조건에 안맞는 값 들어오면 에러 >>> 에러 안나게 해보기
        choice=random.choice(x)
        result.append(choice)
        x.remove(choice)
        cnt += 1
    return result

In [144]:
welcome_n(name,3)

['백', '변', '이', '권']

In [145]:
#최대값보다 크면 숫자를 자동으로 바꿔주기

In [146]:
def welcome_n(name,n):
    x=name.copy() #데이터의 원본을 보존하기 위해 데이터를 복사해두는 것
    if len(x) < n:
        n=len(x)
    result=[]
    cnt=1
    while cnt<=n: #조건에 안맞는 값 들어오면 에러 >>> 에러 안나게 해보기
        choice=random.choice(x)
        result.append(choice)
        x.remove(choice)
        cnt += 1
    return result

In [147]:
welcome_n(name,13)

['유', '이', '백', '권', '류', '박', '주', '곽', '김', '변', '서']

In [148]:
def welcome_n(name,n):
    x=name.copy()
    if len(x) < n:
        return print(f'학생부의 총 학생은 {len(x)}인데 입력한 수는{n}입니다' )
    result=[]
    cnt=1
    while cnt<=n: #조건에 안맞는 값 들어오면 에러 >>> 에러 안나게 해보기
        choice=random.choice(x)
        result.append(choice)
        x.remove(choice)
        cnt += 1
    return result

In [149]:
welcome_n(name,100)

학생부의 총 학생은 11인데 입력한 수는100입니다

In [150]:
#for문으로 짜기 >>> 정해져있을 때 쓰기(조건일땐 와일)

In [160]:
def welcome_n(name,n):
    x=name.copy()
    if len(x) < n:
        return print(f'학생부의 총 학생은 {len(x)}인데 입력한 수는{n}입니다' )
    result=[]
    for i in range(n):
        choice=random.choice(x)
        result.append(choice)
        x.remove(choice)
    return result

In [163]:
welcome_n(name,5)

['이', '주', '김', '변', '서']

#remove대신 pop써서 나타내기는 혼자 해보기

In [172]:
def welcome_n(name,n=6): #n값을 줄 수도 있음
    x=name.copy()
    if len(x) < n:
        return print(f'학생부의 총 학생은 {len(x)}인데 입력한 수는{n}입니다' )
    result=[]
    for i in range(n):
        choice=random.choice(x)
        result.append(choice)
        x.remove(choice)
    return result

In [173]:
welcome_n(name)

['류', '백', '곽', '이', '김', '유']

['류']
['유','김']
...
....
welcome_n(name,1)
welcome_n(name,2)

In [174]:
for i in range(len(name)+1):
    print(welcome_n(name,i))

[]
['권']
['권', '권']
['주', '유', '곽']
['곽', '권', '류', '주']
['박', '백', '곽', '김', '주']
['권', '이', '변', '곽', '유', '서']
['이', '서', '백', '류', '권', '주', '권']
['류', '변', '박', '곽', '백', '백', '곽', '유']
['백', '곽', '권', '서', '주', '이', '유', '백', '주']
['곽', '변', '류', '유', '김', '주', '서', '권', '이', '류']
['백', '김', '서', '백', '변', '곽', '류', '이', '변', '주', '박']
['변', '박', '서', '곽', '곽', '백', '류', '유', '김', '권', '이', '유']
['박', '류', '유', '곽', '류', '유', '김', '곽', '권', '주', '주', '권', '변']
['백', '변', '주', '권', '박', '곽', '변', '권', '서', '류', '유', '김', '유', '이']
['류', '백', '변', '곽', '류', '권', '이', '주', '유', '곽', '변', '서', '권', '주', '김']
['주', '곽', '유', '이', '변', '곽', '주', '권', '서', '류', '유', '백', '권', '변', '김', '박']
['서', '주', '김', '주', '곽', '박', '백', '백', '류', '유', '이', '류', '권', '유', '권', '곽', '변']
['류', '유', '곽', '권', '류', '백', '변', '주', '변', '유', '김', '서', '곽', '권', '백', '주', '박', '이']

In [175]:
obj=list(range(1,9999999))
random.shuffle(obj)

In [176]:
obj=obj[:10]

In [177]:
obj

[1271131,
 7454857,
 8988385,
 856666,
 7324108,
 6660673,
 7564098,
 7840666,
 3109856,
 6729596]

In [179]:
#각 자리수 다 더하기 :문자로 변환하면 편함

if는 한 값만 판단 처음에 돌려주면 됨, for는 여러 값을 판단

In [180]:
obj[0]//1000000+obj[0]//100000

13

In [185]:
obj[0]

1271131

In [197]:
def calc_num(x):
    #print
    s=0
    for i in str(obj[0]):
        s += int(i)
    return s

In [198]:
new_obj=[]
for i in obj[:10]:
    new_obj.append(calc_num(i))

In [199]:
calc_num(x)

16

In [200]:
#평균(=백터)을 구하는 함수 만들기

In [201]:
def avg(x):
    return sum(x)/len(x)

In [202]:
avg(obj)

5780003.6

In [206]:
import numpy as np
arr=np.array(obj)
np.sum(arr[arr<np.mean(arr)])

ModuleNotFoundError: No module named 'numpy'

In [207]:
new_obj=[] #************                                        
for ob in obj:
    if ob < avg(obj):
        new_obj.append(ob)
sum(new_obj)

5237653

In [208]:
#map(func,obj)

In [209]:
map(calc_num,obj)

In [211]:
list(map(calc_num,obj))

[16, 16, 16, 16, 16, 16, 16, 16, 16, 16]

In [213]:
a=['1','2','3'] #리스트를 숫자로 바꾸기
new_a=[]
for i in a:
    new_a.append(int(i))
sum(new_a)

6

In [214]:
list(map(int,a)) #map함수 사용하기

[1, 2, 3]

In [216]:
sum(map(int,a))

6

In [217]:
#필터링=조건주고 거름=if

In [218]:
#filter(조건,리스트)

In [219]:
filter(obj<avg(obj),obj)

TypeError: '<' not supported between instances of 'list' and 'float'

In [220]:
filter(lambda x: x<avg(obj),obj) #익명함수=이름필요없음

In [221]:
sum(filter(lambda x: x<avg(obj),obj)) #앞값을 만족하면 뒷값을 빼냄, 리스트로 만듦 #************

5237653

In [222]:
def xx(x):
    return x**2

In [223]:
xx(4)

16

In [224]:
#한 줄짜리 함수 만들기

In [225]:
(lambda x : x**2)(4)

16

In [226]:
#220을 한줄 함수로

In [227]:
def xx(x):
    return x<avg(obj)

In [228]:
xx(obj[0])

True

In [229]:
#obj의 자리수 구하기

In [230]:
len(str(obj[0]))

7

In [231]:
map(len(str(x)),obj)

In [233]:
def xxx(x):
    return len(str(x))

In [236]:
list(map(lambda x:len(str(x)),obj))

[7, 7, 7, 6, 7, 7, 7, 7, 7, 7]

In [237]:
obj=list(range(1,9999999))
random.shuffle(obj)

In [238]:
len(obj)

9999998

In [249]:
#앞 뒤가 똑같은거 찾기

In [250]:
str(obj[0])==str(obj[0])[::-1]

False

In [251]:
str(x)==str(x)[::-1]

False

In [253]:
len(list(filter(lambda x: str(x) == str(x)[::-1],obj)))

10997

In [254]:
#PPT리턴

In [255]:
def return_test(a=10):
    print('A위치입니다')
    return a
    print('B위치입니다')

In [257]:
return_test()

A위치입니다

10

In [258]:
x=return_test()

A위치입니다

In [259]:
x

10

In [260]:
def f(x):
    return x

In [261]:
f(x)

10

In [262]:
#가변 매개변수

In [263]:
def print_n_times(n=2,*values):
    for i in range(n):
        for value in values:
            print(value)
        print()

In [265]:
print_n_times(2,'안녕하세요','즐거운','파이썬')

안녕하세요
즐거운
파이썬

안녕하세요
즐거운
파이썬

In [266]:
#키워드 매개변수

In [269]:
args={'name':name,'n':7}
welcome_n(**args)

['박', '유', '유', '곽', '주', '변', '권']

In [270]:
kkk='a s d f g h'.split(' ')

In [271]:
kkk

['a', 's', 'd', 'f', 'g', 'h']

In [272]:
welcome_n(**args) *values

['류', '백', '이', '곽', '주', '유', '백']

In [282]:
values=(5,7,9,10)
def mul(*values):
    s=1
    for values in values:
        s*=values
    return s

In [283]:
mul(5,7,9,10)

3150

In [277]:
#문제풀이

In [284]:
def mul(values):
    s=1
    for values in values:
        s*=values
    return s

In [285]:
mul(5,7,9,10)

TypeError: mul() takes 1 positional argument but 4 were given

In [286]:
#재귀함수

In [287]:
#for반복문으로 펙토리얼 구하기

In [290]:
def factorial(n):
    factor =1 #처음 구할때는 초기값 줘야 해
    for i in range(1,n+1):
        factor*=i
    return factor

In [291]:
factorial(5)

120

In [289]:
#재귀함수: 거울보듯 무한 계산

In [296]:
def factorial_recur(n):
    print(n) #확인용
    if n==0:
        return 1
    else:
        print(n)
        return n*factorial(n-1)

In [298]:
factorial_recur(5)
factorial_recur(4)

5
5
4
4

24

In [299]:
def recur(x): #for안쓰고 반복하기
    
    print('aaa')
    if x == 0:
        return #0일경우 빠져나가고 아님 밑에거 진행해라 (무한반복호출이라서 탈출조건 필요)
    recur(x-1)

In [300]:
recur(5)

aaa
aaa
aaa
aaa
aaa
aaa

In [301]:
def recur(x): 
    print('aaa')
    if x == 6:
        return 
    recur(x-1)

In [303]:
recur(6) #5를 넣으면 조건이 안되서 무한대로 나옴

aaa

In [304]:
#sum을 만들어라

In [317]:
def sum_recur(x): 
    s=0
    for i in range(x):
        s += i
    return s

In [319]:
sum_recur(3)

3

In [320]:
def sum_recur(x): 
    if x ==0:
        return 0
    return x+sum_recur(x-1)

In [321]:
sum_recur(3)

6

In [326]:
def sum_non_recur(x): 
    s=0
    for i in range(1,x+1):
        s += i
    return s

In [327]:
sum_non_recur(3)

6

In [328]:
#피보나치 수열

In [354]:
f_1=1
f_2=1
tmp=[f_1,f_2]
for i in range(5):
    tmp.append((tmp[i]+tmp[i+1]))
tmp[-3] #3번째 값은

5

In [353]:
tmp

[1, 1, 2, 3, 5, 8, 13]

In [357]:
def fib(n):
    f_1=1
    f_2=1
    tmp=[f_1,f_2]
    for i in range(n):
        tmp.append((tmp[i]+tmp[i+1]))
    return tmp[-3]

In [358]:
fib(6)

8

In [359]:
def fibo(n):
    if (n==1) or (n==2):
        return 1
    return fibo(n-1)+fibo(n-2)

In [362]:
fibo(4)

3

In [364]:
counter=0
def fibo(n):
    print(f'피보나치 수열{n}을 구합니다')
    global counter
    counter +=1
    if n==1:
        return 1
    if n==2:
        return 2
    else: 
        return fibo(n-1)+fibo(n-2)

In [365]:
fibo(4)

피보나치 수열4을 구합니다
피보나치 수열3을 구합니다
피보나치 수열2을 구합니다
피보나치 수열1을 구합니다
피보나치 수열2을 구합니다

5

In [366]:
#재귀함수문제 트리

In [367]:
counter=0
def fibo(n):
    global counter
    counter +=1
    if n==1:
        return 1
    if n==2:
        return 2
    else: 
        return fibo(n-1)+fibo(n-2)

In [370]:
%%time 
fibo(25)

Wall time: 21.9 ms

121393

In [371]:
%%time #for문이 더 빠르다
fib(25)

Wall time: 0 ns

75025

In [372]:
#파이썬은 코드짧, 같을 때 속도 빨라야 한다.

In [373]:
#재귀함수 문제풀기

In [ ]:
def flatten(x):

In [374]:
data=[[1,2,3],[4,[5,6]],7,[8,9]]

In [376]:
data[1]

[4, [5, 6]]

In [377]:
x=[]
x.extend(data[0])
x

[1, 2, 3]

In [383]:

x.append(data[2])
x

[8, 9, 7]

In [384]:

x.extend(data[3])
x

[8, 9, 7, 8, 9]

In [386]:
#리스트 뽑아서 더하기
data[0]+data[1]+data[3]

[1, 2, 3, 4, [5, 6], 8, 9]

In [387]:
new_data=[]
for i in data[0]:
    new_data.append(i)
new_data

[1, 2, 3]

In [ ]:
def flatten(x):
    if :
        return 
    new_data=[i for i in data]

In [ ]:
def ravel(x):
    for i in range(len(x))

new_data=[]
for i in data[1]:
    a=new_data.append(i)
    if new_data.append(i)==[a]:
        a.append(new_data[i])
    break
new_data

In [412]:
data=[[1,2,3],[4,[5,6]],7,[8,9]]
data1=[[1,2,3],[4,[5,6]],[7,8,9]]

In [418]:
def flatten(x):
    result=[]
    for i in x:
        result += i
    return result

In [419]:
flatten(data1)

[1, 2, 3, 4, [5, 6], 7, 8, 9]

In [426]:
def flatten(x):
    result=[]
    for i in x:
        if type(i) == list:
            result += flatten(i)
        else:
            result += [i]
    return result

In [421]:
[1,2,3]+[4]

[1, 2, 3, 4]

In [427]:
flatten(data1)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [428]:
flatten(data)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [429]:
#튜플(1,2,3),(2,5) 한번 결정된 요소는 바꿀 수 없다

In [430]:
x=[(1,2),(4,5)]
type(x[0])

tuple

In [431]:
import numpy as np

ModuleNotFoundError: No module named 'numpy'

In [432]:
np.zeros[(3,4)]

NameError: name 'np' is not defined

In [433]:
x=[1,2,3]
y=[i*i for i in range(1,4)]
z=zip(x,y)

In [434]:
tuple(z)

((1, 1), (2, 4), (3, 9))

In [437]:
x=(list(range(10)),list(range(1,11)))

In [438]:
y,z=x

In [439]:
z

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [440]:
#람다는 많이 연습하기

In [ ]:
#시스템모듈은 해킹할 때 쓰임