In [1]:
a=[]
a

[]

In [2]:
a1=list()
a1

[]

In [6]:
a=[1,2,3,'d',['f',['f']]]
a
type(a)

list

In [10]:
a=[1,2,['f','3',['r','g']]]
a[2][2][-1]

'g'

In [11]:
len(a)

3

In [12]:
len(a[2][2])

2

In [15]:
len(a[2][1])

1

In [16]:
a[2][2][-1]

'g'

In [22]:
a=[1,2,['f','3','1',['r','g','y''t']]]
len(a[2][2])

1

In [25]:
a=[1,2,['f','3','1',['r','g','y''t']]]
len=(a)

In [26]:
a=[1,2,['f','3',['r','g']]]
a[2][-1]

['r', 'g']

In [27]:
a=[1,2,['f','3',['r','g']]]
a[2][1]

'3'

In [28]:
a=[1,2,['f','3',['r','g']]]
a[2][0] #0/1/2로 2번에 들어가는것은 리스트[]임. 그 안에있는 것 중 0번에 들어가는 것은 f.

'f'

In [31]:
a[2][2][0]*3 #반복

'rrr'

In [32]:
a=[1,2,3]

In [33]:
a=[1,2,3]
a

[1, 2, 3]

In [37]:
>>> a = [1, 2, 3]
>>> a[2] = 4
>>> a

[1, 2, 4]

In [41]:
a = [1, 2, 3]
del a[1]

In [ ]:
a=[1,2,3]

In [42]:
a.append(5)
a

[1, 3, 5]

In [43]:
a.append([6,7])

In [44]:
a

[1, 3, 5, [6, 7]]

In [49]:
a = [1,8,9, 2, 3]
a.sort()

In [45]:
a = [1, 2, 3]
del a[1]
a.append([6,7])
a

[1, 3, [6, 7]]

In [46]:
a = [1, 2, 3]
del a[1]
a.append([6,7])
a.extend([8,9])
a

[1, 3, [6, 7], 8, 9]

In [47]:
a.sort()

TypeError: '<' not supported between instances of 'list' and 'int'

In [53]:
a = [1,8,9, 2, 3]
a.sort(reverse=True) #시프트+탭눌럿 ()안에 뭐 들어가는지 알 수 있음. 역순나열 간단하게 쓴거.
a

[9, 8, 3, 2, 1]

In [51]:
a = [1,8,9, 2, 3]
a.sort() #같은 타입의 정보가 들어가야 함. []가 들어가면 에러.
a.reverse() #역순
a

[9, 8, 3, 2, 1]

In [52]:
a = [1,8,9, 2, 3]
a.reverse() 
a

[3, 2, 9, 8, 1]

In [55]:
a = ['a','2','g']
a.index('g') #index(x) 함수는 리스트에 x 값이 있으면 x의 위치 값을 돌려준다.

2

In [56]:
a = ['a','2','g']
a.insert(0, 4) #insert(a, b)는 리스트의 a번째 위치에 b를 삽입
a

[4, 'a', '2', 'g']

In [57]:
a.remove('g') #remove(x)는 리스트에서 첫 번째로 나오는 x를 삭제

In [58]:
a

[4, 'a', '2']

In [59]:
a.pop() #맨 마지막 요소를 돌려주고 그 요소는 삭제
a

[4, 'a']

In [62]:
a

[4]

In [63]:
>>> a = [1,2,3,1]
>>> a.count(1) #count(x)는 리스트 안에 x가 몇 개 있는지 조사

2

In [66]:
a=['이름','회원번호','전화번호','나이']
a.insert(0, input('name:>>>'))
a.insert(1, input('no.:>>>'))
a.insert(2, input('phone:>>>'))
a.insert(3, input('age:>>>'))
a

name:>>> item
no.:>>> 1
phone:>>> 010
age:>>> 3

['item', '1', '010', '3', '이름', '회원번호', '전화번호', '나이']

In [70]:
a=['이름','회원번호','전화번호','나이']
a.insert(0, input('name:>>>'))
a.insert(1, input('no.:>>>'))
a.insert(2, input('phone:>>>'))
a.insert(3, input('age:>>>'))
del a[4:]
a

name:>>> 1
no.:>>> 2
phone:>>> 3
age:>>> 4

['1', '2', '3', '4']

In [77]:
del a[:]
a

[]

In [79]:
a=['이름','회원번호','전화번호','나이']
a.insert(0, input('name:'))
a.insert(1, input('no.:'))
a.insert(2, input('phone:'))
a.insert(3, input('age:'))
del a[:]
a

name: ㅑㅅ드
no.: 1
phone: 010
age: 3

[]

In [81]:
a=[]
a.insert(0, input('name:'))
a.insert(1, input('no.:'))
a.insert(2, input('phone:'))
a.insert(3, input('age:'))
a

name: 1
no.: 2
phone: 3
age: 4

['1', '2', '3', '4']

In [95]:
a=[]
a.insert(0, input('name:'))
a.insert(1, input('no.:'))
a.insert(2, input('phone:'))
a.insert(3, input('age:'))
a

name: 1
no.: 2
phone: 3
age: 4

['1', '2', '3', '4']

In [ ]:
item=[]
no=input('no:')
name=input('name:')
tel=input('tel:')
age=input('age:')
item.append([no,name,tel,age])
print(item) #연속 정보 입력은 어케한거지

In [ ]:
item=[]

In [131]:

no=input('no:')
name=input('name:')
tel=input('tel:')
age=input('age:')
item.append([no,name,tel,age])
print(item) #연속 정보 입력은 어케한거지

no: 1
name: 2
tel: 3
age: 4

[['1', '2', '3', '4'], ['1', '2', '3', '4']]

In [132]:

no=input('no:')
name=input('name:')
tel=input('tel:')
age=input('age:')
item.append([no,name,tel,age])
print(item) #연속 정보 입력은 어케한거지

no: 5
name: 6
tel: 7
age: 8

[['1', '2', '3', '4'], ['1', '2', '3', '4'], ['5', '6', '7', '8']]

In [83]:
a=[]
a.insert(0, input('name:'))
a.insert(1, input('no.:'))
a.insert(2, input('phone:'))
a.insert(3, input('age:'))
a
del a[:]

name: 1
no.: 2
phone: 3
age: 4

In [84]:
a=[]
a.insert(0, input('name:'))
a.insert(1, input('no.:'))
a.insert(2, input('phone:'))
a.insert(3, input('age:'))
a

name: item
no.: 1
phone: 2
age: 3

['item', '1', '2', '3']

In [86]:
del a
[:]
a

[]

In [130]:
item=[]
no=input('no:')
name=input('name:')
tel=input('tel:')
age=input('age:')
item.append([no,name,tel,age])
print(item) #연속 정보 입력은 어케한거지

no: 1
name: 2
tel: 3
age: 4

[['1', '2', '3', '4']]

In [93]:
item[0].pop(0)

'1'

In [98]:
inputno=input('no:')

no: 1

In [101]:
item=[[1,2,3,4],[5,6,7,8]]

for i in item:
    #print(i)

[1, 2, 3, 4]
[5, 6, 7, 8]

In [133]:
item=[]
no=input('no:')
name=input('name:')
tel=input('tel:')
age=input('age:')
item.append([no,name,tel,age])
print(item)

for i in item:
    if inputno == i[0]:
        item.remove(i)

no: 1
name: 2
tel: 3
age: 4

[['1', '2', '3', '4']]

In [134]:
for i in item:
    if inputno == i[0]:
        item.remove(i)

In [135]:
item=[[1,2,3,4],[5,6,7,8]]
for i in item:
    if inputno == i[0]:
        item.remove(i)

In [136]:
item=[[1,2,3,4],[5,6,7,8]]
for i in item:
    if inputno == i[0]:
        item.remove(i)
item

[[1, 2, 3, 4], [5, 6, 7, 8]]

In [161]:
item=[[1,'2','3','4'],[5,'6','7','8']] #숫자랑 섞였을 때 숫자 빼는법???
inputno=input('삭제할 번호:') #무조건 첫번째 번호만 삭제되나???
for i in item:
    if inputno == i[0]:
        item.remove(i)
item

삭제할 번호: 6

[[1, '2', '3', '4'], [5, '6', '7', '8']]

In [ ]:
#////////////////////////////////////////////////////////////////////////////////////////

In [ ]:
{Key1:Value1, Key2:Value2, Key3:Value3, ...}

In [106]:
>>> t1 = (1, 2, 'a', 'b')
>>> t1[0]

1

In [111]:
t1 = (1, 2, 'a', 'b')
t1[0]
del t1

In [119]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['name'] #값찾기

'pey'

In [114]:
dic['phone']=['123','345']
dic #값수정

{'name': 'pey', 'phone': ['123', '345'], 'birth': '1118'}

In [118]:
dic['age']='5'
dic #값추가

{'name': 'pey', 'phone': ['123', '345'], 'birth': '1118', 'age': '5'}

In [122]:
dic = {'name':'pey', 'phone':'0119993323', 'birth': '1118'}
dic['age']='5'
dic

{'name': 'pey', 'phone': '0119993323', 'birth': '1118', 'age': '5'}

In [124]:
del dic['age']
dic #값삭제

{'name': 'pey', 'phone': '0119993323', 'birth': '1118'}

In [138]:
dic['phone'][0]

'0'

In [140]:
{'name': 'pey', 'phone': ['123', '345'], 'birth': '1118', 'age': '5'}
dic['phone'][1]

'1'

In [141]:
>>> a = {'name': 'pey', 'phone': '0119993323', 'birth': '1118'}
>>> a.keys() #키만 뽑아냄

dict_keys(['name', 'phone', 'birth'])

In [142]:
a.values() #밸류만 뽑아냄

dict_values(['pey', '0119993323', '1118'])

In [143]:
a.items() #쌍으로 뽑아냄

dict_items([('name', 'pey'), ('phone', '0119993323'), ('birth', '1118')])

In [145]:
a.get('name') #해당 값없으면 안뽑아냄. 에러안남.

'pey'

In [151]:
>>> s1 = set([1,2,3,1,2,3]) #데이터를 중복없이 하나씩만 뽑아낼 때 씀. 순서는 없음. 
>>> s1

{1, 2, 3}

In [150]:
type(s1)

set

In [ ]:
#///////////////////////////////////////////////////

In [1]:
jumin=input('주민번호>>>123456-7890123')
if jumin[7]=='1' or jumin[7]=='3':
    print('남')
elif jumin[7]=='2' or jumin[7]=='4':
    print('여')
else:
    print('잘못입력')

주민번호>>>123456-7890123 123123-1231234

남

In [188]:
>>> number = 0
>>> while number != 4:
...     print(prompt)
...     number = int(input())

NameError: name 'prompt' is not defined

In [189]:
>>> treeHit = 0
>>> while treeHit < 10:
...     treeHit = treeHit +1
...     print("나무를 %d번 찍었습니다." % treeHit)
...     if treeHit == 10:
...         print("나무 넘어갑니다.")

나무를 1번 찍었습니다.
나무를 2번 찍었습니다.
나무를 3번 찍었습니다.
나무를 4번 찍었습니다.
나무를 5번 찍었습니다.
나무를 6번 찍었습니다.
나무를 7번 찍었습니다.
나무를 8번 찍었습니다.
나무를 9번 찍었습니다.
나무를 10번 찍었습니다.
나무 넘어갑니다.

In [178]:
i=0
while i <10:
    print(i) #참이므로 무한반복
    i += 1 #i값에 1씩 늘린다

0
1
2
3
4
5
6
7
8
9

In [ ]:
i=0
while i < 10:
    print(i) 
    i += 1 # 왜 값이 안나오지?????????

In [ ]:
# 1-100사이 짝수 출력

In [ ]:
i=1
while i <= 100:
    print(i) 
    if i == i*2:
        print(i)

In [ ]:
i=1
while i <= 100:
    print(i) 
    if i += 1:
        print(i)

In [ ]:
i=1
while i <= 100:
    if i % 5 ==0: 
        print(i)
    i += 1:

In [ ]:
while True:
    if 조건:

In [ ]:
i=1
while True:
    if i%2 ==0:
        break
    print(i)
    i +=1

In [192]:
>>> test_list = ['one', 'two', 'three'] 
>>> for i in test_list: 
...     print(i)

one
two
three

In [ ]:
>>> a = [(1,2), (3,4), (5,6)]
>>> for i in a:
...     print(i)

(1, 2)
(3, 4)
(5, 6)

In [195]:
>>> a = [(1,2), (3,4), (5,6)]
>>> for i,j in a:
...     print(i,j) #각각 따로 뽑기

1 2
3 4
5 6

In [196]:
for i in range(10): #0~9까지 10개 만들어줌 
    print(i)

0
1
2
3
4
5
6
7
8
9

In [197]:
for i in range(1,11): #10까지 뽑고싶을때
    print(i)

1
2
3
4
5
6
7
8
9
10

In [198]:
#단 입력받아 구구단 출력

In [211]:
a=input('gugu:') #input은 문자열을 출력하기 떄문에 숫자를 곱하려면 숫자로 바꿔라
if a.isdecimal(): #숫자형태가 맞으면 TRUE
    for i in range(1,10):
        print(f'{a}*{i}={int(a)*i:2}')
else:
    print('숫자입력')

gugu: 5

5*1= 5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45

In [ ]:
#2-9단까지 출력 (곱하는수는 1-9임)

In [223]:
for i in range(2,10): #고정값
    print(f'===={i}단===')
    for j in range(1,10): #변화값
        print(f'{i}*{j}={i*j}')

====2단===
2*1=2
2*2=4
2*3=6
2*4=8
2*5=10
2*6=12
2*7=14
2*8=16
2*9=18
====3단===
3*1=3
3*2=6
3*3=9
3*4=12
3*5=15
3*6=18
3*7=21
3*8=24
3*9=27
====4단===
4*1=4
4*2=8
4*3=12
4*4=16
4*5=20
4*6=24
4*7=28
4*8=32
4*9=36
====5단===
5*1=5
5*2=10
5*3=15
5*4=20
5*5=25
5*6=30
5*7=35
5*8=40
5*9=45
====6단===
6*1=6
6*2=12
6*3=18
6*4=24
6*5=30
6*6=36
6*7=42
6*8=48
6*9=54
====7단===
7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
====8단===
8*1=8
8*2=16
8*3=24
8*4=32
8*5=40
8*6=48
8*7=56
8*8=64
8*9=72
====9단===
9*1=9
9*2=18
9*3=27
9*4=36
9*5=45
9*6=54
9*7=63
9*8=72
9*9=81

In [227]:
for i in range(1,10): #고정값
    for j in range(2,10): #변화값
        print(f'{j:2}*{i:2}={i*j:2}',end=' ')
    print() #한 줄이 다 찍히고 나면 줄을 바꿔줘야 하니깐

 2* 1= 2  3* 1= 3  4* 1= 4  5* 1= 5  6* 1= 6  7* 1= 7  8* 1= 8  9* 1= 9
 2* 2= 4  3* 2= 6  4* 2= 8  5* 2=10  6* 2=12  7* 2=14  8* 2=16  9* 2=18
 2* 3= 6  3* 3= 9  4* 3=12  5* 3=15  6* 3=18  7* 3=21  8* 3=24  9* 3=27
 2* 4= 8  3* 4=12  4* 4=16  5* 4=20  6* 4=24  7* 4=28  8* 4=32  9* 4=36
 2* 5=10  3* 5=15  4* 5=20  5* 5=25  6* 5=30  7* 5=35  8* 5=40  9* 5=45
 2* 6=12  3* 6=18  4* 6=24  5* 6=30  6* 6=36  7* 6=42  8* 6=48  9* 6=54
 2* 7=14  3* 7=21  4* 7=28  5* 7=35  6* 7=42  7* 7=49  8* 7=56  9* 7=63
 2* 8=16  3* 8=24  4* 8=32  5* 8=40  6* 8=48  7* 8=56  8* 8=64  9* 8=72
 2* 9=18  3* 9=27  4* 9=36  5* 9=45  6* 9=54  7* 9=63  8* 9=72  9* 9=81

In [ ]:
>>> treeHit = 0
>>> while treeHit < 10:
...     treeHit = treeHit +1
...     print("나무를 %d번 찍었습니다." % treeHit)
...     if treeHit == 10:
...         print("나무 넘어갑니다.")